header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 12px 0;

    .header_container {
        width: 66.6%;
        display: flex;
        justify-content: space-between;

        .logo > img {
            width: 102px;
        }

        .navigation {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #000;
            }

            div {
                padding-right: 20px;
            }

            img {
                padding-right: 4px;
                cursor: pointer;
            }
        }
    }
}